@import './filters.css';
@import './compare.css';
@import './wishlist.css';
@import './parts/listing.css';

.category-products {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
