.filters-container {
    display: grid;
    margin-top: 25px;
    min-width: 250px;
}
.filters-container .filter {
    cursor: pointer;
    height: 45px;
    border-top: 1px solid #DEDEDE;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;
}
.filters-container .filter.active .arrow {
    transform: rotate(180deg);
}
.filters-container:last-child {
     border-bottom: 1px solid #DEDEDE;
}

.filters-container .filter-values {
    margin-left: 20px;
    margin-bottom: 10px;
}
.filter-values span{
    margin-left: 5px;
}
