@font-face {
    font-family: 'Poppins';
    src: url('../css/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
    font-style: normal;
}
:root {
    --grey: #A2A2A2;
    --dark-grey: #828282;
    --light-grey: #E0E0E0;
    --black: rgb(33, 33, 33);
    --black-transparent: rgba(33, 33, 33, 0.5);
    --red: #E46D6D;
    --green: #7DB800;
    /*--base-font-family: 'Poppins';*/
    /*--base-font-style: normal;*/
}
h1 {
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
}
h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 147.5%;
}
h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 147.5%;
}
.title {
    font-weight: 300;
    font-size: 20px;
    line-height: 147.5%;
}
.menu-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.small-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
.button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 138.69%;
}
.small-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
.container {
    padding: 0 10%;
}
a {
    text-decoration: none;
}
a:hover {
    color: var(--green);
}
