.products-grid {
    display: grid;
    grid-gap: 15px;
    padding: 20px 0;
    border-bottom: 1px solid var(--grey);
}

.products-grid__head {
    display: grid;
    grid-template-columns: 520px 100px 40px 80px 40px;
    grid-gap: 10px;
    color: var(--grey);
    border-bottom: 1px solid var(--grey);
    padding-bottom: 5px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.products-grid__row {
    display: grid;
    grid-template-columns: 520px 100px 40px 80px 40px;
    grid-gap: 10px;
}
.product-grid__price{
    color: var(--black);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 138.687%; /* 24.964px */
}
.product-grid__subtotal{
    color: var(--black);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 138.687%; /* 24.964px */
}
.product-row__delete{
    justify-self: center;
    cursor: pointer;
}
.products-grid__link{
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
.products-grid__product {
    display: flex;
    gap: 40px;
}
.attributes{
    margin-top: 10px;
}
.attributes__title{
    color: #828282;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
.attributes__value{
    margin-left: 7px;
    color: #828282;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.products-grid__product-image{
    border: 1px solid var(--grey);
}

.products-grid__product-info .attributes {
    display: grid;
}

.products-grid__product img {
    width: 170px;
    height: 170px;
}
.product-grid__qty input{
    height: 38px;
    width: 36px;
    text-align: center;
    border: var(--grey) solid 1px;
    outline: none;
}

/*Actions*/
.cart-actions{
    margin-top: 60px;
    display: flex;
    justify-content: end;
}
.cart-actions__update{
    width: 191px;
    height: 40px;
    border-radius: 2px;
    color: var(--black);
    background-color: var(--light-grey-2);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    cursor: pointer;


    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}

/*Totals*/
.cart-container {
    margin-top: 85px;
    display: grid;
    grid-template-columns: 820px 375px;
    grid-gap: 60px;
    align-items: start;
}

.cart-container .totals-container {
    background-color: var(--light-grey-2);
    padding: 35px;
    display: grid;
    grid-gap: 10px;
    max-height: 800px;
}
.totals-container select, .totals-container input[type="text"]{
    height: 50px;
    width: 300px;
}

.cart-container .final-totals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    padding: 12px 0;
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
}

.final-totals .left {
    justify-self: start;
}

.final-totals .right {
    justify-self: end;
}

.grand-total{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grand-total .left {
    justify-self: start;
}

.grand-total .right {
    justify-self: end;
}

.totals-payment__label{
    margin-left: 15px;
}
.totals-checkout-button{
    margin-top: 45px;
    display: grid;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-weight: 800;
    width: 100%;
    padding: 10px 0 !important;
}

/*checkout*/
.steps-navigator {
    margin-top: 85px;
    display: grid;
    grid-template-columns: 193px auto;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}
.checkout{
    display: grid;
    grid-template-columns: 640px 400px;
    justify-content: space-between;
    gap: 50px;
}
.checkout__inner{
    margin-top: 100px;
}
.customer-login__form{
    margin-top: 30px;
}
.customer-login__form-field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 15px;
}
.customer-login__info{
    margin-top: 30px;
}
.customer-login__field-label{
    display: inline-block;
}
.customer-login__field{
    height: 50px;
    width: 473px;
    padding: 0 20px;
}
.customer-login__actions{
    margin-top: 45px;
}
.customer-login__forgot-password{
    margin-left: 45px;
}
.divider{
    margin-top: 56px;
}

/* Address */
.address {
    margin-top: 40px;
}
.address__form-field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 15px;
}
.address__field{
    height: 50px;
    width: 450px;
    padding: 0 20px;
}
.address__form-field--street{
    grid-gap: 15px;
    align-items: start;
}
.address__form-field--street .address__field-label{
    grid-column: 1;
    grid-row: 1 / span 2;
}
.address__form-field--street .address__field{
    grid-column: 2;
}




/* Summary */
.summary__inner{
    margin-top: 165px;
    background-color: #F5F5F5;
    padding: 30px;
}
.summary__items-count{
    margin-top: 30px;
    padding: 5px;
    border-bottom: 1px solid var(--dark-grey);
    display: flex;
    justify-content: space-between;
}
.summary__items-count-arrow{
    cursor: pointer;
}
.summary__item{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
}
.summary__item-img{
    justify-self: start;
}
.summary__item-price{
    justify-self: end;
}


/* Shipping-methods */
.shipping-methods{
    margin-top: 46px;
}
.shipping-methods__items{
    border-top: 1px solid var(--light-grey);
    margin-top: 40px;
}
.shipping-methods__item{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid var(--grey);
    width: 445px;
}
.shipping-methods__item-price{
    margin-left: 15px;
}
.shipping-methods__item-radio{
    width: 20px;
    height: 20px;
}

/* Payments-methods */
.payment-methods{
    margin-top: 46px;
}
.payment-methods__items{
    border-top: 1px solid var(--light-grey);
    margin-top: 40px;
}
.payment-methods__item{
    display: flex;
    gap: 15px;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid var(--grey);
    width: 445px;
}
.payment-methods__item-price{
    margin-left: 15px;
}
.payment-methods__item-radio{
    width: 20px;
    height: 20px;
}


.checkout-actions__wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
