footer {
    margin-top: 80px;
    background-color: var(--black);
}
.footer-container {
    height: 170px;
    color: #ffffff;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.footer-container .logo{
    justify-self: center;
}
.footer-container .link{
    display: inline-block;

    margin-right: 24px;
}
.footer-container .icon{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
footer a{
    color: #ffffff;
}
.help-links .link {
    margin-right: 10px;
}
.help-links ul a {
    text-decoration: none;
}
.social-links {
    justify-self: end;
}
.copyrights {
    color: var(--grey);
    padding-bottom: 20px;
    text-align: center;
}
