@import './base.css';
@import './homepage.css';
@import './header.css';
@import './page-title.css';
@import './pages/category.css';
@import './page.css';
@import './customer.css';
@import './checkout.css';

@import './footer.css';

ul{
    list-style: none;
}
.products {
    color: var(--black);
}
.green-button {
    background-color: var(--green);
    border-radius: 2px;
    color: white;
    padding: 10px 15px;
    border: 0;
}
.router-link-active{
    color: var(--green);
}
.not-found-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
