.product-listing-container {
    margin-left: 20px;
    display: grid;
    grid-template-rows: 35px 1fr;

    color: var(--dark-grey);
}
.product-listing-container a, .product-listing-container select {
       color: var(--dark-grey);
}
.sorts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}
.sorts-container-left{
    display: flex;
    align-items: center;
}
.sorts-container-right{
    display: flex;
    align-items: center;
}
.sorts .view{
    padding: 10px;
    background-color: var(--light-grey-2);
    cursor: pointer;
}
.sorts .sort-direction{
    cursor: pointer;
}
.sorts .view.active {
    background-color: #DEDEDE;
}
.items-count{
    margin-left: 17px;
}
.sort-text{
    margin-right: 17px;
}


.sort-direction {
    padding: 10px;
}
.sort-desc{
    transform: rotate(180deg);
}
.sort-asc{

}

.product-list-grid{
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.product-list-list{
    margin-top: 17px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.rating {
    display: flex;
    align-items: center;
}
.list-select {
    height: 34px;
    border: 0;
    background-color: var(--light-grey-2);
    padding: 0 10px;
}
.product-list .product-title, .product-list .special-price {
    color: var(--black);
}
.pagination {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.pages{
    display: flex;
    gap: 10px;
}
.pages__list{
    display: flex;
    gap: 5px;
}
.pages__item-active a {
    color: var(--green);
}
.pages-show{
    display: flex;
    gap: 7px;
}
